*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

head,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(247, 246, 244);
}
#nav{
    position: fixed;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
}
#nav h3{
    background-color: rgb(241, 74, 130);
    color: white;
    padding: 5px 17px;;
    font-size: 18px;
    margin-left: 8px;
    border-radius: 50px;
}
#intro{
    height: 40%;
    width: 100%;
    padding: 50px 60px;
}
#intro h1{
    font-size: 86px;
    letter-spacing: -3px;
    line-height: 73px;
    
}
#place{
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#place h3 ,#place h4{
    font-size: 35px;
    font-weight: 600;

}

#hero-image {
    height: 87%;
    width: 100%;
    background-image: url(unsplash.jpg);
    background-size: cover;
}
#hero-image img{
    width: 100%;
    height: 80%;
}
#about{
    height: 40%;
    width: 100%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}
#about h2{
    /* background-color: red; */
    width: 60%;
    font-size: 60px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -2px;
}
#about-part2{
    /* background-color: blue; */
    width: 36%;
    height: 100%;
    padding: 125px 50px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#about-part2 h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;

}

#icons i {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 10px;

}
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}
#work1{
    width: 30%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    padding-right: 60px;
    justify-content: space-between;
    /* border-right: 2px solid black; */
}
#work1 h3{
    font-size: 32px;
    font-weight: 600;
    
}
#work1 i{
    font-size: 33px;
}
#work2{
    background-color: rgb(246, 237, 226);
    height: 100%;
    width: 65%;
    /* background-color:blue; */
    padding: 0 60px;
}
.work2-part{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 50px 0px;
    
}
.work2-part:nth-child(1){
    /* padding-top: 0; */
    border-bottom: 2px solid black;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
    padding-right:50px ;
}
.work2-part .elem:nth-child(2){
    padding-left: 50px;
}
.work2-part .elem h4{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight:600;
}
.work2-part .elem p{
    font-size: 18px;
    color: grey;
    font-weight: 500;
}

